
# autotool stuff
aclocal.m4
autom4te.cache
aux
config.log
config.status
configure
Makefile
Makefile.in

# Build artifacts and intermediaries
cairo-fb



exports
xrfreq
xrfreq.1x.html
xrknockout
xrknockout.1x.html
xrspline
xrspline.1x.html
xrtest
xrtest.1x.html

*.o
.deps


configure
Makefile
Makefile.in